.GalleryItem {
    flex: 1;
    aspect-ratio: 1/1;

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 3px;
        margin-bottom: -4px;
    }

    &:hover {
        scale: 1.2;
    }
}