.PlayBtn {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 5px;
    cursor: pointer;
    background-color: var(--color-neutral-50);

    &:hover {
        background-color: var(--color-neutral-100);
    }

    &--play {
        background-color: var(--color-primary);
        opacity: 1 !important;

        &:hover {
            background-color: var(--color-primary-20);
        }
    }

    & > img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }
}



// background: conic-gradient(#ffffff 90%, #000000 90%);