*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --color-primary: #B560FF;
    --color-primary-20: #914DCC;

    --color-neutral-50: #FDFCFE;
    --color-neutral-100: #F5F2F8;
    --color-neutral-700: #3D3C41;
    --color-neutral-800: #29282D;
    --color-neutral-900: #1B191F;
    --color-neutral-950: #0F0D13;
    --color-neutral-950-20: #0e0c1233;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-neutral-950);
}


::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
}

body {
    color: white;
    font-family: "Inter", sans-serif;
    background-color: var(--color-neutral-950);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    width: fit-content;

    &:hover {
        text-decoration: underline;
    }
}