*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --color-primary: #B560FF;
    --color-primary-20: #914DCC;

    --color-neutral-50: #FDFCFE;
    --color-neutral-100: #F5F2F8;
    --color-neutral-700: #3D3C41;
    --color-neutral-800: #29282D;
    --color-neutral-900: #1B191F;
    --color-neutral-950: #0F0D13;
    --color-neutral-950-20: #0e0c1233;
}

body {
    color: white;
    font-family: roboto, sans-serif;
    background-color: var(--color-neutral-950);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-neutral-950-20);
}

a {
    text-decoration: none;
    color: inherit;
    width: fit-content;

    &:hover {
        text-decoration: underline;
    }
}

.Wrapper {
    width: 80vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: justify;
    background-color: var(--color-neutral-900);
    border-radius: 20px;
    padding: 0px 10px;
}

@media (max-width: 440px) {
    .Wrapper {
        width: 90vw;
    }
}